.floatRight{
    position: absolute;
    bottom: 2%;
    right:1%;
    height: 50px;
    width: 10px;
    background: oldlace;
    border-radius: 30px;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }